<!-- INTERNAL TABLE FOR OSPF -->
<div id="accordion">
<div>
<h3>OSPF Global Info</h3>
<div class="net_content">
{% if hostvars[network_switch]['ansible_network_resources']['ospfv2'] is defined and hostvars[network_switch]['ansible_network_resources']['ospfv2']|length > 0 %}
<table id="subtable">
    <thead>
        <tr>
            <th>OSPF</th>
        </tr>
    </thead>
    <tbody>
{% for ospf in hostvars[network_switch]['ansible_network_resources']['ospfv2'] %}
        <tr>
            <td>Enabled</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% elif hostvars[network_switch]['ansible_network_resources']['ospfv2'] is defined and hostvars[network_switch]['ansible_network_resources']['ospfv2']|length == 0 %}
OSPF is not configured on this device
{% else %}
No OSPF information available
{% endif %}
</div>
</div>
</div>
<!-- END INTERNAL TABLE FOR OSPF -->
